.header {
  background: var(--gray-700);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.125rem 0;
}

.header img {
  height: 2.25rem;
  margin-right: 0.75rem;
}

.header strong {
  color: var(--blue-300);
  font-size: 2.5rem;
}

.header strong + strong {
  color: var(--purple-500);
}